button {
  border-radius: $radius;
}
.main-button {
  font-weight: 500;
  font-size: 20px;
  border: 2px solid $color-primary-200;
  background: transparent;
  color: $color-primary-200;
  transition: 0.3s;
  padding: 13px 90px 16px 90px;
  &:hover {
    background: $color-primary-200;
    color: $color-primary-100;
  }
  &:active {
    background: transparent;
    color: $color-primary-200;
  }
}
.second-button {
  font-weight: 400;
  font-size: 15px;
  border: 2px solid $color-primary-200;
  background: $color-primary-200;
  color: $color-primary-100;
  &:hover {
    background: transparent;
    color: $color-primary-200;
  }
  &:active {
    background: $color-primary-200;
    color: $color-primary-100;
  }
}
.offer-button {
  background: $color-primary-300;
  padding: 14px 120px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: $color-primary-200;
  border: none;
}
