img {
  max-width: 100%;
}
body {
  font-family: "Noto Sans", sans-serif;
  background: $background-color-body;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  padding: 0;
  list-style-type: none;
}
button {
  cursor: pointer;
}
a {
  color: $color-primary-200;
}
