.form-select {
  border-radius: $radius;
  border: 1px solid #bdbdbd;
}

.main-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.form-select {
  width: 170px;
}
.form-select option:checked {
  color: $color-primary-300;
}
.custom-select {
  background: white;
  padding: 3px 65px 3px 10px;
  width: 170px;
  border: 1px solid #bdbdbd;
  border-radius: $radius;
}
.custom-select:focus {
  box-shadow: none;
}
.dropdown-toggle::after {
  margin-left: 103px;
}
.dropdown-menu {
  border-radius: $radius;
  width: 170px;
}
.dropdown-item:hover {
  color: $color-primary-300;
  background: none;
}
.btn-group {
  width: 170px;
  margin-right: 20px;
}
.main-checkbox {
  width: 16px;
  height: 16px;
}
.checkbox-desc {
  padding-left: 8px;
  color: $color-secondary-200;

  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}
.sort-group,
.sort-dropdown-menu {
  width: 190px;
}
.sort-dropdown-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 12px 0 12px;
}
.sort-dropdown-item:first-of-type {
  padding-top: 0;
}
.qa-input {
  width: 505px;
  height: 54px;
  border: 1px solid $color-secondary-300;
  border-radius: $radius;
  background: none;
  margin-right: 20px;
  padding: 16px 22px 20px 16px;
  &::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $color-primary-200;
  }
}

@media (max-width: 1366px) {
  .qa-input {
    width: 450px;
  }
}
@media (max-width: 768px) {
  .qa-input {
    width: 290px;
  }
  .btn-group {
    margin-bottom: 8px;
  }
}
@media (max-width: 425px) {
  .btn-group {
    width: 100%;
    margin: 0;
  }
  .main-form {
    flex-direction: column;
  }
  .dropdown-toggle::after {
    margin-left: 325px;
  }
  .qa-input {
    width: 100%;
    margin-right: 0;
  }
  .dropdown-toggle::after {
    margin-left: 228px;
  }
  .btn-sort::after {
    margin-left: 208px;
  }
}
@media (max-width: 320px) {
  .main-form {
    align-items: flex-start;
  }
}
