.secondary-title {
  margin-top: 98px;
  text-align: center;
}

.main-form {
  display: flex;
}
.form-select {
  width: 170px;
}
.form-select option:checked {
  color: $color-primary-300;
}
.custom-select {
  background: white;
  padding: 3px 65px 3px 10px;
  width: 170px;
  border: 1px solid #bdbdbd;
  border-radius: $radius;
}
.custom-select:focus {
  box-shadow: none;
}
.dropdown-toggle::after {
  margin-left: 103px;
}
.dropdown-menu {
  border-radius: $radius;
  width: 170px;
}
.dropdown-item:hover {
  color: $color-primary-300;
  background: none;
}
.btn-group {
  width: 170px;
  margin-right: 20px;
}
