@charset "UTF-8";
.main-title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 68px;
}

.secondary-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  color: #aeaeae;
}

.third-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  color: #f8f8f8;
}

.paragraph {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

.nav-item-link {
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

a:hover {
  color: #df4e3c;
}

button {
  border-radius: 15px;
}

.main-button {
  font-weight: 500;
  font-size: 20px;
  border: 2px solid #f8f8f8;
  background: transparent;
  color: #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 13px 90px 16px 90px;
}

.main-button:hover {
  background: #f8f8f8;
  color: #000000;
}

.main-button:active {
  background: transparent;
  color: #f8f8f8;
}

.second-button {
  border: 2px solid #f8f8f8;
  background: #f8f8f8;
  color: #000000;
  padding: 16px 44px 18px 44px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.second-button:hover {
  background: transparent;
  color: #f8f8f8;
}

.second-button:active {
  background: #f8f8f8;
  color: #000000;
}

.offer-button {
  background: #df4e3c;
  padding: 14px 120px;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
  border: none;
}

@media (max-width: 1366px) {
  .offer-button {
    margin-top: 16px;
  }
  .second-button {
    margin: 24px 0px;
  }
}

@media (max-width: 1024px) {
  .second-button {
    margin: 24px 100px;
  }
}

@media (max-width: 768px) {
  .second-button {
    padding: 20px 16px;
    margin: 0;
  }
  .offer-button {
    width: 100%;
  }
}

@media (max-width: 425px) {
  .second-button {
    width: 100%;
    margin-top: 12px;
    padding: 16px;
  }
}

@media (max-width: 320px) {
  .offer-button {
    width: 100%;
    padding: 12px;
  }
}

.main-section {
  background: url("../images/mainImage.jpg");
  height: 686px;
  background-position: center;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.main-nav {
  margin-left: auto;
}

.main-list-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-list-link {
  margin-right: 40px;
}

.icon-header {
  padding-right: 8px;
}

.link-icon {
  margin-right: 24px;
}

.link-icon:last-of-type {
  margin-right: 0;
}

.icon-instagram {
  font-size: 20px;
}

.icon-facebook {
  font-size: 16px;
}

.main-title {
  color: #f8f8f8;
  margin-top: 136px;
  margin-bottom: 0;
}

.paragraph-wrap {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-paragraph {
  width: 295px;
  color: #f8f8f8;
  margin-right: 20px;
  margin-bottom: 0;
  line-height: 20px;
}

.top-button {
  margin-top: 72px;
}

.main-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 425px) {
  .main-list-link {
    margin-right: 4px;
    font-size: 12px;
  }
  .main-nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .icon-facebook {
    font-size: 10px;
  }
  .icon-instagram {
    font-size: 11px;
  }
  .main-section {
    height: auto;
    padding-bottom: 20px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

@media (max-width: 320px) {
  .main-title {
    font-size: 36px;
  }
  .main-paragraph {
    width: 50%;
    margin: 0;
  }
}

img {
  max-width: 100%;
}

body {
  font-family: "Noto Sans", sans-serif;
  background: #e5e5e5;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  padding: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  color: #f8f8f8;
}

.form-select {
  border-radius: 15px;
  border: 1px solid #bdbdbd;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-select {
  width: 170px;
}

.form-select option:checked {
  color: #df4e3c;
}

.custom-select {
  background: white;
  padding: 3px 65px 3px 10px;
  width: 170px;
  border: 1px solid #bdbdbd;
  border-radius: 15px;
}

.custom-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.dropdown-toggle::after {
  margin-left: 103px;
}

.dropdown-menu {
  border-radius: 15px;
  width: 170px;
}

.dropdown-item:hover {
  color: #df4e3c;
  background: none;
}

.btn-group {
  width: 170px;
  margin-right: 20px;
}

.main-checkbox {
  width: 16px;
  height: 16px;
}

.checkbox-desc {
  padding-left: 8px;
  color: #8d8d8d;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.sort-group,
.sort-dropdown-menu {
  width: 190px;
}

.sort-dropdown-item {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding: 12px 12px 0 12px;
}

.sort-dropdown-item:first-of-type {
  padding-top: 0;
}

.qa-input {
  width: 505px;
  height: 54px;
  border: 1px solid #bdbdbd;
  border-radius: 15px;
  background: none;
  margin-right: 20px;
  padding: 16px 22px 20px 16px;
}

.qa-input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

.qa-input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

.qa-input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

.qa-input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
}

@media (max-width: 1366px) {
  .qa-input {
    width: 450px;
  }
}

@media (max-width: 768px) {
  .qa-input {
    width: 290px;
  }
  .btn-group {
    margin-bottom: 8px;
  }
}

@media (max-width: 425px) {
  .btn-group {
    width: 100%;
    margin: 0;
  }
  .main-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .dropdown-toggle::after {
    margin-left: 325px;
  }
  .qa-input {
    width: 100%;
    margin-right: 0;
  }
  .dropdown-toggle::after {
    margin-left: 228px;
  }
  .btn-sort::after {
    margin-left: 208px;
  }
}

@media (max-width: 320px) {
  .main-form {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.secondary-title {
  margin-top: 98px;
  text-align: center;
}

.sort-block {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkbox-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-sort .path1:before,
.icon-sort .path2:before {
  font-size: 20px;
}

.offer-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
          box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
}

.year-item {
  color: #8d8d8d;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Poppins";
}

.info-item-wrap {
  padding: 20px;
}

.name-item {
  font-weight: 400;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
  display: inline-block;
  margin: 0;
  margin-left: 8px;
  white-space: nowrap;
  /* Текст не переносится */
  overflow: hidden;
  /* Обрезаем всё за пределами блока */
  text-overflow: ellipsis;
}

.feature-desc-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #8d8d8d;
}

.price-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
}

.top-item-info {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mid-item-info {
  margin-bottom: 26px;
}

.new {
  position: relative;
}

.new::before {
  content: "New";
  background: #000000;
  color: #f8f8f8;
  border-radius: 0 15px 15px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 3px 20px;
  z-index: 2;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.sold {
  position: relative;
}

.sold::before {
  content: "SOLD";
  background: none;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  font-family: "Poppins";
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
}

.sold img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.offer-block-image {
  width: 100%;
}

.offer-block-items {
  padding-top: 24px;
  margin-bottom: 100px;
}

.offer-block-item {
  margin-bottom: 20px;
}

.offer-block-item:hover {
  color: transparent;
}

@media (max-width: 425px) {
  .sort-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sort-block-item {
    margin-top: 8px;
  }
  .dropdown-toggle::after {
    margin-left: 315px;
  }
}

.subscribe-block {
  background: #000000;
  padding: 40px 0 46px 0;
}

.subscribe-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 34px;
  margin: 0;
  color: #f8f8f8;
}

.subscribe-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #f8f8f8;
  width: 430px;
  padding-top: 20px;
}

.subscribe-block-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.accordion-button::after {
  background-image: url("../images/plus.svg");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.svg");
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.accordion-item {
  background: none;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.accordion-button:not(.collapsed),
.accordion-button {
  background: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
}

.accordion-body {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
          box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
  border: none;
}

.accordion-button:not(.collapsed) {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 20px;
  color: #df4e3c;
}

.accordion-button:not(.collapsed) {
  background: #ffffff;
}

@media (max-width: 768px) {
  .subscribe-text {
    width: 340px;
  }
  .subscribe-block-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 425px) {
  .subscribe-title {
    text-align: center;
  }
  .dropdown-toggle::after {
    margin-left: 228px;
  }
  .btn-sort::after {
    margin-left: 208px;
  }
  .dropdown-toggle::after {
    margin-left: 330px;
  }
  .btn-sort::after {
    margin-left: 312px;
  }
}

@media (max-width: 375px) {
  .subscribe-text {
    width: 100%;
  }
  .dropdown-toggle::after {
    margin-left: 282px;
  }
  .btn-sort::after {
    margin-left: 264px;
  }
}

@media (max-width: 320px) {
  .subscribe-text {
    width: 100%;
  }
  .dropdown-toggle::after {
    margin-left: 230px;
  }
  .btn-sort::after {
    margin-left: 212px;
  }
}

.main-footer {
  margin-top: 200px;
  background: #000000;
  padding: 36px 0;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-nav-link {
  text-decoration: none;
  padding: 0 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (max-width: 425px) {
  .footer-nav-link {
    font-size: 10px;
    padding: 0 4px;
  }
  .main-logo {
    width: 70%;
  }
  .footer-nav {
    padding-top: 10px;
  }
  .social-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */